html, div, ul, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, img, form, embed, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

body {
  background: #ffcc01;
  overflow: hidden;
}

/*html, body{*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

*, *:before, *:after {
  -moz-box-sizing: border-box; /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box; /* Safari 3-4, also probably droppable */
  box-sizing: border-box; /* Everything else */
}

a {
  text-decoration: none;
}

input {
  outline: 0;
}

img {
  border: none;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pos-rel {
  position: relative;
}

.cls {
  clear: both;
  line-height: 0px !important;
  height: 0px !important;
  font-size: 0px !important;
}


/******设置背景*********/
.container{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  /*align-items: center;*/
  /*-webkit-align-items: center;*/
}

.head-wrapper{
  width: 100%;
  height: 0.9rem;
  padding-top: 0.3rem;
  box-sizing: border-box;
  padding-left: 0.6rem;
}

.head-wrapper img {
  display: block;
  width: 1.5rem;
  height: 0.6rem;
}

.page-wrapper{
  margin: auto;
  /*width: 5.4rem;
  height: 7.6rem;*/
}
.page-wrapper-1{
  width: 6.23rem;
  height: 7.64rem;
}
.page-wrapper-2{
  width: 6.97rem;
  height: 7.60rem;
}
.page-wrapper-3{
  width: 6.60rem;
  height: 7.62rem;
}
.btn-wrapper{
  width: 6.2rem;
  height: 2.3rem;
  padding-bottom: 0.3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.btn-wrapper-last{
  height: 1.2rem;
}

/**********第一屏**************/

.page-wrapper img {
  display: block;
  width: 100%;
  /*height: 100%;*/
}

/*********按钮*********/
#page1 .download-btn {
  width: 6.2rem;
  height: 1.4rem;
  background: url(../img/btn.png) no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  position: fixed;
  bottom: 0.5rem;
}

#page2 .download-btn {
  width: 6.2rem;
  height: 1.4rem;
  background: url(../img/btn.png) no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  position: fixed;
  bottom: 0.5rem;
}

#page3 .download-btn {
  width: 6.2rem;
  height: 1.4rem;
  background: url(../img/btn.png) no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  position: fixed;
  bottom: 0.5rem;
}

.download-btn a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.9rem;
  text-align: center;
  color: #fff;
  font-size: 0.4rem;
}

/*****next*****/
.next {
  width: 0.4rem;
  height: 0.3rem;
  background: url(../img/arrow.png) no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  position: relative;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-animation: down 1.8s ease 0s infinite normal;
  -ms-animation: down 1.8s ease 0s infinite normal;
  animation: down 1.8s ease 0s infinite normal;
}
/*箭头动画*/
@keyframes down {
  0% {
    opacity: 0;
    transform: translate3d(0, -8px, 0);
    -webkit-transform: translate3d(0, -8px, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0);
  }
}
@-webkit-keyframes down {
  0% {
    opacity: 0;
    transform: translate3d(0, -8px, 0);
    -webkit-transform: translate3d(0, -8px, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0);
  }
}

.prev {
  width: 0.4rem;
  height: 0.3rem;
  background: url(../img/arrow.png) no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  position: relative;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  -webkit-transform: translateX(-50%) rotate(180deg);
  -webkit-animation: up 1.8s ease 0s infinite normal;
  -ms-animation: up 1.8s ease 0s infinite normal;
  animation: up 1.8s ease 0s infinite normal;
}
/*箭头动画*/
@keyframes up {
  0% {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0) rotate(180deg);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -8px, 0);
    -webkit-transform: translate3d(0, -8px, 0) rotate(180deg);
  }
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0) rotate(180deg);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -8px, 0);
    -webkit-transform: translate3d(0, -8px, 0) rotate(180deg);
  }
}

/*遮罩层*/
.mask{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.5);
  top: 0;
  left: 0;
  z-index: 100;
}
/*弹窗*/
.popup{
  display: none;
  position: fixed;
  top: 0;/*图片位置，单位rem*/
  right: 0.6rem;/*图片位置，单位rem*/
  z-index: 101;
}

/*!**********第二屏**************!*/
/*#page2 .pg2_wrapper{ position: absolute; left: 25px; top: 0.5rem;}*/
/*#page3 .pg3_wrapper{ position: absolute; left: 25px; top: 0.5rem;}*/
/*#page4 .pg4_wrapper{ position: absolute; left: 25px; top: 0.5rem;}*/

/*#page2 .pg2_wrapper .title{ font-size: 0.56rem; color: #f8c92c; }*/
/*#page3 .pg3_wrapper .title{ font-size: 0.56rem; color: #f8c92c; }*/
/*#page4 .pg4_wrapper .title{ font-size: 0.56rem; color: #f8c92c; }*/

/*#page2 .pg2_wrapper .desc{ margin-top: 0.2rem; font-size: 0.32rem; color: #8f8b88;}*/
/*#page3 .pg3_wrapper .desc{ margin-top: 0.2rem; font-size: 0.32rem; color: #8f8b88;}*/
/*#page4 .pg4_wrapper .desc{ margin-top: 0.2rem; font-size: 0.32rem; color: #8f8b88;}*/

/*.pg_mid{*/
/*width: 3.2rem;*/
/*left: 50%;*/
/*top:20%;*/
/*-webkit-transform: translate(-50%, 0);*/
/*-moz-transform: translate(-50%, 0);*/
/*-ms-transform: translate(-50%, 0);*/
/*-o-transform: translate(-50%, 0);*/
/*transform: translate(-50%, 0);*/
/*}*/
